<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite"  verbose="1">
      <test name="SearchTest">
            <parameter name="searchWord" value="iphone"/>
            <parameter name="items" value="2"/>
        <classes>
            <class name="com.example.SearchTest" />
        </classes>
    </test>
</suite>